extends layout

block header
    meta(content="text/html;charset=utf-8" http-equiv="Content-Type")
    meta(content="utf-8" http-equiv="encoding")
    link(rel='stylesheet', href='/css/index.css')

block content
    nav
        ul
            li #[a(href="http://atlas.ch/") ATLAS Homepage]
            li #[a(href="https://github.com/danielsullivan1234/gFEX_Webserver_Repository") Page Source]
            li #[a(href="arrayButton.html") Past Data Files]
            li #[a(href="https://www.google.com/?gws_rd=ssl") Google Homepage (test)]


    #temp.graph
    #vccint.graph
    #vccaux.graph
    #vccbram.graph
    #vccpint.graph
    #vccpaux.graph
    #vccoddr.graph
    #vccpos.graph
    #vccneg.graph



    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
    script(src="http://code.highcharts.com/highcharts.js")
    script(src="/js/dygraph-combined.js")
    script(src="/js/synchronizer.js")
    script(src="/js/allGraphs.js")
